@page "/"
@inject IJSRuntime JSRuntime

<PageTitle>Home</PageTitle>

<h1>WeAreDevelopers World Congress 2024</h1>

<p>
    The WeAreDevelopers World Congress is the largest developers conference in Europe.
</p>